html{
    font-family:繝偵Λ繧ｮ繝手ｧ偵ざ Pro W3", "Hiragino Kaku Gothic Pro", "繝｡繧､繝ｪ繧ｪ", Meiryo, Osaka, "�ｭ�ｳ �ｰ繧ｴ繧ｷ繝�け;
    margin:auto;
    
}

#container{
    max-width:1200px;
    margin:0 auto;
    background-color:#fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border-top: 4px solid rgb(229,22,32);
    height:auto;
    width: 100%;
}

.section{
    max-width:100%;
}

.hidden_box{
    display: none;
}

.top-ba{
    width:300px;
    height:45px;
    margin:20px 60px;
}

.col-md-2{
    text-align:center;
    font-size:20px;
    margin:0 4%;
}

.sabus-s{
    list-style: none;

}



.col-md-2:hover{
    border-bottom:2px solid rgb(229,22,32);
    color:rgb(229,22,32);
    cursor: pointer;

}

.label1{
    color: rgb(62,92,249);
}

.label1:hover{
    color:rgb(229,22,32);
    cursor: pointer;
}

.navsa:hover{
    text-decoration:none;
    color:rgb(229,22,32);
}

.r{
    width: 100%;
    padding-left: 6%;
}

h2{
    background-color:rgb(229,22,32);
    border-radius:4px;
    color:white;
    padding:8px 20px;
    margin:30px 20px;
    font-size:20px;
    display:block;
}

.newicon {
    background-color:red;
    font-size:12px;
    padding:2px;
    color:white;
}

.dezain{
    border-left:3px solid wheat;
    padding-left:30px;
}

li{
    list-style:none;
    color:grey;
    
}

.date{
    margin-right:20px;
    color:blue;
}

.ban{
    border-bottom:1px solid grey;
    margin-right:5%;
}

.r{
    text-align:right;  
    padding-right:5%;
  }

.infoi{
    border-bottom: 2px solid rgb(229,22,32);
    margin:0 20px;
}

.x{
    text-align: left;
    width:300px;
    margin-top:50px;
    margin-left:20px;
    padding-bottom:50px;
}

.nav2{
    float: right;
    margin:0 10px;
}

.kai{
    margin:0 20px;
}

footer{
    background-color:rgb(229,22,32);
    padding-top:5px;
    clear:both;
}
.footer-logo{
    color:white;
    text-align:center;
    font-size:15px;
    text-decoration:none;
    line-height:1.5;
}

.logo{
    color:white;
    font-size:15px;
    text-decoration:none;
}

/**蜍輔￥縺ｪ縺ｳ**/
.hidden_box {
    padding: 0;
    display:block;
    top:35px;
    left:90%;
}


.hidden_box input {
    display: none;
}

.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
}

.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}

.miti:hover{
    background-color:#efefef;
    cursor: pointer;
}

.select-s{
    display:block;
    width:100%;
    margin-top:-10px;
    z-index: 100;
    top:100px;
    margin-left:-20px;
}  
    
